@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

body {
    background-color: blanchedalmond;
    font-family: 'Josefin Sans', sans-serif;
}

.choices {
    display: flex;
    justify-content: space-between;
    flex-direction: column; 
    border-style: solid;
    margin-right: 60%;     
  }

ul {
    list-style-type: none;
}

